*{
  font-family: sans-serif;
}
body{
  background-color: rgb(221, 242, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.form-container{
  padding: 1%;
  background-color: white;
  width: 30vw;
  height: 40vh;
  text-align: center;
  border-radius: 2%;
}

.form-button{
  margin-top: 6%;
  padding: 2%;
  width: 20%;
  border-radius: 100px;
  border: none;
  background-color: #007BFF;
  font-size: medium;
  color: white;
}

.form-button:hover{
  background-color: #005abb;
  padding: 3%;
}

input[type = "text"]{
  padding: 1%;
  border-radius: 60px;
}


